* {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* flex information in '*' causes the title to be repeated at the top of the page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sketchContainer {
    height: 820px;
    width: 820px;
    background-color: darkslategray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/* don't know if this one is needed but I imagine so */
.sketchRow {
    flex: auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.sketchPixel {
    background-color: whitesmoke;
    flex: auto;
}